<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/main.js" defer></script>
</head>
<body>
<header>
    <nav>
        <a href="/">Главная</a>
        <a href="/add_bot">Добавить бота</a>
        <a href="/send_message">Отправить сообщение</a>
    </nav>
</header>
<div class="card">
    <h2>TeleOctopus Direct</h2>
    <input type="text" id="api_id" placeholder="API ID">
    <input type="text" id="api_hash" placeholder="API Hash">
    <input type="text" id="token" placeholder="Токен бота">
    <input type="text" id="chat_id" placeholder="Username канала">
    <textarea id="text" oninput='this.style.height = ""; this.style.height = this.scrollHeight + "px"'></textarea>
    <button id="sendButton" onclick="sendData()">Отправить пост</button>
    <div id="status"></div>
</div>
</body>
</html>
